<h2>Change style</h2>
<p [ngStyle]="{ ' color': 'white', backgroundColor: 'yellow' }">style works!</p>
<!--  -->
<p [ngStyle]="{ color: color, backgroundColor: bgColor, fontSize: size }">
  style works!
</p>
<!-- we can bind this -->
<!-- <input
  type="text"
  #colorInput
  class="form-control"
  (change)="changeColor(colorInput.value)"
/> -->
<h3>change color</h3>
<input type="text" class="form-control" [(ngModel)]="color" />
<h3>change size</h3>
<input
  type="number"
  #sizeInput
  class="form-control"
  (change)="changeSize(sizeInput.value)"
/>
<!-- <input type="number" class="form-control" [(ngModel)]="size" /> -->

<!-- <input
  type="text"
  #bgColorInput
  class="form-control"
  (change)="changebgColor(bgColorInput.value)"
/> -->
<h3>change bgcolor</h3>
<input type="text" class="form-control" [(ngModel)]="bgColor" />
<!-- two way binding no need to bond on ts -->
