<form #loginFormulaire="ngForm">
  <label for="email">Email</label>
  <input
    email
    required
    type="text"
    ngModel
    name="email"
    class="form-control"
    id="email"
    #inputMail="ngModel"
  />
  <div class="alert alert-danger" *ngIf="inputMail.invalid && inputMail.dirty">
    Email not valid!
  </div>
  <label for="pwd">Password</label>
  <input
    required
    type="password"
    ngModel
    name="password"
    class="form-control"
    minlength="4"
    #pwdInput="ngModel"
    id="pwd"
  />
  <div class="alert alert-danger" *ngIf="pwdInput.invalid && pwdInput.touched">
    Password 4minimun
  </div>
  <!-- ngIf = si c'est pas valide donc faire afficher l'erreur -->
  <button
    type="button"
    [disabled]="loginFormulaire.invalid"
    class="btn btn-primary"
    (click)="login(loginFormulaire)"
  >
    Login
  </button>
</form>
